{% extends 'nav_bar.html' %}
{% block content%}
<div class="container-fluid">
<center><h1>Expense Items</h1></center>
           <div class="buttons">
             <div class = "page-add-button">
              <center>
                <p><a href = "{% url 'expense_item_form' pk%}" class = "btn btn-primary" >Add New Expense Record Item  </a> </p>
              </center>
            </div>
           </div>

       </div>
       </div>

{% if items %}
{% for item in items %}
    <div class="container pt-1 my-5" style="border: 3px solid black;">
    <h2>Expense Item</h2>
    <h3>Item name: {{item.expense_item_name}}</h3>
    <h3>Item cost: {{item.expense_item_cost}}</h3>
    <p>Type: {{item.expense_type}}</p>
    <p>Category: {{item.expense_category}}
    



    <p>Notes: {{item.notes}}</p>
    

    <p><a href = "{% url 'delete_expense_item' item.expense_item_id%}" class = "btn btn-primary" >Delete New Expense Record Item  </a> </p>
    
    </div>
    {% endfor%}
  

    {% else %}
<p> There are no Expense Records </p>
{% endif %}
{% endblock %}