{% extends 'nav_bar.html' %}
{% block content%}
<div class="container-fluid">
<center><h1>Maintenance Records</h1></center>
           <div class="buttons">
             <div class = "page-add-button">
              <center>
              <!-- Need to change the paths -->
               <p><a href = "{% url 'maintence_form' %}" class = "btn btn-primary" >Add New Maintenance Record  </a> </p>
              </center>
            </div>
           </div>

       </div>
       </div>
{% if records %}
{% for record in records %}
    <div class="container pt-1 my-5" style="border: 3px solid black;">
    <h2>Record</h2>
    <a>{{record.maint_record_date}}
    <a>{{record.notes}}</a>
    
     
    
    </div>
    {% endfor%}
</ul>


{% else %}
<p> There are no records </p>
{% endif %}
{% endblock %}


