{% extends 'nav_bar.html' %}
{% block content%}
<div class="container-fluid">
<center><h1>Properties</h1></center>
           <div class="buttons">
             <div class = "page-add-button">
              <center>
              <!-- Need to change the paths -->
               <p><a href = "{% url 'property_form' %}" class = "btn btn-primary" >Add New Property  </a> </p>
              </center>
            </div>
           </div>

       </div>
       </div>

{% if properties %}
<ul>
    
    {% for property in properties %}
    <div class="container pt-1 my-5" style="border: 3px solid black;">
    <h2>Property</h2>

    <a style="display: inline-block; width: 100%; text-align: left;">
        <span style="float: left;">{{ property.name }}</span>
        <span style="float: right;">Link to Units</span>
      </a>
      
      <a style="display: inline-block; width: 100%; text-align: left;">
        <span style="float: left;">{{ property.street_addr }}</span>
        <span style="cursor: pointer; color: blue; float: right" onclick="window.location.href='{% url 'maintence_records' %}'">Maintence</span>

    </a>
    

      <a style="display: inline-block; width: 100%; text-align: left;">
        <span style="float: left;">{{ property.city }}, {{property.state_abrv}}, {{property.zip}}</span>
        <span style="float: right;"><button class="btn btn-primary">View/Update Property</button>            <a class="btn btn-danger" href = "{% url 'delete_property' property.property_id %}">Delete Property</a></span>
      </a>
     
    
    </div>
    {% endfor%}
</ul>
{% else %}
<p> There are no Properties </p>
{% endif %}
{% endblock %}
