source/simple_real_estate_1/simple_real_estate/__pycache__/
source/simple_real_estate_1/real_estate/__pycache__/
source/simple_real_estate_1/real_estate/migrations/__pycache__/
source/simple_real_estate_1/db.sqlite3
